#include "version.h"
MAINICON ICON "extras/icon/icon.ico"
1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_PATCH,0
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_PATCH,0
{
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {
            VALUE "ProductName", FULL_PROG_NAME
            VALUE "ProductVersion", VER_STR
            VALUE "FileVersion", VER_STR
            VALUE "FileDescription", "An in-development Minecraft/Infiniminer clone"
            VALUE "CompanyName", "CaveCube"
            VALUE "LegalCopyright", "Copyright (C) CaveCube contributors; Licensed under the Boost Software License 1.0"
            VALUE "OriginalFilename", STR(ORIG_NAME)
            VALUE "InternalName", STR(INT_NAME)
            VALUE "Comments", BUILD_STR
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04E4
    }
}
