#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=CaveCube
Comment=An in-development Minecraft/Infiniminer clone
GenericName=Voxel Game
Icon=cavecube
Categories=Game;
Keywords=game;minecraft;infiniminer;cave;cube;
StartupWMClass=CaveCube
Type=Application
Terminal=false
Exec=cavecube %U
StartupNotify=true
